<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="padding:50px 50px">
    <h1 style="font-size:1.2em">欢迎加入 ss.tan90.cn 的大家庭, <%= @user.user_name %></h1>
    <p>你的登录用户名是 <strong><%= @user.email %></strong></p>
    <p>请尽快在三小时之内验证你的邮箱 <%= @url %></p>
  </body>
</html>
