<p>
<span>生成公共邀请码</span><input id="num" style="border-color:#eee;width:200px;height:35px;margin:10px" value="100" type="number"></input> 
<a id="generate" onclick="generateInvite()" class="btn btn-info">生成</a>
</p>
