<div class="cc">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div>
          <h1 class="auth-panel-header"><img src="/logo.png"/></h1>
        </div>
        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="form-group">
                <input id="password" class="form-control" placeholder="请输入你的新密码" name="password" type="password" autofocus>
              </div>
              <a id='register' href='/register'>注册账号</a>
              <a id='login' href='/login'>登录</a>
              <a id="submit" class="btn btn-lg btn-info btn-block">重置密码</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function insertError(msg){
  $(".success").remove();
  if ($(".error").length==0){
    content = '<p class="error"><i class="fa fa-close"></i>'+msg+'</p>';
    $(content).insertAfter(".form-control:last");
  }else{
    html_content = '<i class="fa fa-close"></i>'+msg;
    $(".error").html(html_content);
  }
}
function insertSuccess(msg){
  $(".error").remove();
  if ($(".success").length==0){
    content = '<p class="success"><i class="fa fa-check"></i>'+msg+'</p>';
    $(content).insertAfter(".form-control:last");
  }else{
    html_content = '<i class="fa fa-check"></i>'+msg;
    $(".success").html(html_content);
  }
}
$(document).ready(function(){
  $("#submit").click(function(e){
    e.preventDefault();
    password = $("#password").val();
    current_url = window.location.href;
    $.post(current_url,{"password": password},function(data){
      if (data["code"]==1){
        insertSuccess(data["msg"]+" 即将跳转...");
        setTimeout(function() {
          window.location.href = "/login";
        }, 2000);
      } else {
        insertError(data["msg"]);
      }
    })
  })
})
</script>
