<div class="cc">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div>
          <h1 class="auth-panel-header">
            <a href="/" class="brand"><b>Open</b>Mind</a>
          </h1>
        </div>
        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="form-group">
                <input id='user_name' class="form-control" placeholder="用户名" name="user_name" type="text" autofocus>
              </div>
              <div class="form-group">
                <input id='email' class="form-control" placeholder="注册邮箱" name="email" type="email" >
              </div>
                <div class="form-group">
                  <input id='password' class="form-control" placeholder="密码" name="password" type="password" value="">
                </div>
                <div class="form-group">
                  <input id="password_comfirm" class="form-control" placeholder="再次输入密码" name="password_comfirm" type="password">
                </div>
                <% if Settings.invited_code %>
                  <div class="form-group">
                    <input id="invited_code" class="form-control" placeholder="输入邀请码" name="invited_code" type="text">
                  </div>
                <% end %>
                <a id="login" href="/login">已有账号</a>
                <a id="submit" onclick="register()" class="btn btn-lg btn-info btn-block">注册</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
