<div id="wrapper">
  <%= render 'layouts/nav' %>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">资料修改</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-red">
          <div class="panel-heading">
            密码修改
          </div>
          <div class="panel-body">
            <p>当前密码：<input type='password' class='form-control' id='original_password'></input></p>
            <p>新密码：<input type='password' class='form-control' id='password'></input></p>
            <p>确认新密码：<input type='password' class='form-control' id='password_comfirm'></input></p>
            <a id="change-pass" onclick="changePassword()" style="color:#fff" class='btn btn-info'>修改</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Shadowsocks连接信息修改
          </div>
          <div class="panel-body">
            <p>连接密码：<input type='password' class='form-control' id='connect_password'></input></p>
            <p>加密方式：
            <select id='method' class="form-control">
              <option>rc4-md5</option>
              <option>aes-256-cfb</option>
            </select>
            </p>
            <a id="change-connect" onclick="changeConnectPassword()" class='btn btn-info'>修改</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            用户名修改
          </div>
          <div class="panel-body">
            <p>你当前的用户名是：<span id="username" style="color:#666"><%= @current_user.user_name %></span></p>
            <p><input type='text' class='form-control' id='name' placeholder="输入新的用户名"></input></p>
            <a id="change-username" onclick="changeUserName()" style="color:#fff" class='btn btn-info'>修改</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
