<div id="wrapper">
  <%= render 'layouts/nav' %>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Buy me a Coffee</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>最近新加了阿里云服务器，每个月服务器的费用开支还是有点高，不过速度是摆在那里的。为了能继续给大家免费提供更优质的服务，请支持我一下。</p>
      </div>
      <div class="col-lg-6">
        <img style="width:500px;height:auto" src="/wechat_sponsor.png"/>
      </div>
      <div class="col-lg-6">
        <img style="width:400px;height:auto" src="/alipay_sponsor.png"/>
      </div>
    </div>
  </div>
</div>
