<div id="wrapper">
  <%= render 'layouts/nav' %>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">流量使用记录</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">

        <%# 每天流量使用记录表 %>

        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i>
            流量使用记录
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>日期</th>
                        <th>使用</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @traffics.each do |traffic| %>
                        <tr>
                          <td><%= traffic.log_at.strftime("%Y-%m-%d") %></td>
                          <td><%= k_m_g(traffic.traffic) %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%# 流量使用图%>

      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            使用情况
          </div>
          <div class="panel-body">
            <div class="flot-chart">
              <div class="flot-chart-content" id="flot-pie-chart"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script><%= render 'pie_chart.js.erb'  %></script>
