<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><b>Open</b>Mind</a>
    </div>
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">首页</a></li>
        <li><a href="https://shadowsocks.org/en/download/clients.html">客户端下载</a></li>
        <li><a href="/code">邀请码</a></li>
        <% if is_login? %>
          <li><a href="/user">用户中心</a></li>
          <li><%= link_to "退出登录",destroy_user_session_path,method: :delete %></li>
        <% else %>
          <li><a href="/users/sign_up">注册</a></li>
          <li><a href="/users/sign_in">登录</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="refer col-lg-offset-2">
      <p style="font-size:1.5em"> 邀请码(<span style="font-size:15px"> 定时更新</span>)</p>
      <% @codes.each do |code| %>
        <p> <%= code.code %></p>
      <% end %>
    </div>
  </div>
</div>
