.index{
  background: url(http://7xvenn.com1.z0.glb.clouddn.com/bg.png);
  background-color: rgba(0,0,0,0.1);
}
#index .panel-heading{
  text-align: center;
  font-size: 1.3em;
}
#index p {
  text-align:center;
}
#index .info{
  padding-top:20%;
}
#index .info a {
  padding:10px 10px;
  color:#000;
}
#index .fast-btn{
  margin-top:10%;
}
#index .index-title{
  color:#fff;
  margin-top:50px;
  font-size:2.5em;
}
#index .index-desc{
  margin-top:20px;
  font-size:1.1em;
  color:#fff;
}
#side-menu>li>a>i {
  margin-right:7px;
}
.auth-panel-header{
  text-align:center;
  padding-bottom:20px;
  margin: 20px 0px 20px;
  border-bottom:1px solid #eee;
}
.center {
  text-align: center;
}
.navbar-default{
  border-color:#f8f8f8;
}
a#register{
  display:block;
  margin-bottom:10px;
}
a#passwd-reset{
  display:block;
  margin-bottom:10px;
}
a#login{
  display:block;
  margin-bottom:10px
}
.cc .form-control{
  height:50px; 
}
.cc{
  position: absolute; top: 0px; left: 0px; width: 100%; min-height: 100%; background: linear-gradient(0deg, #0b4182 1%, #1e88e5 100%);
}
.panel-body{
  padding:25px;
}
.chat-body p {
  color:#555;
}
.footer{ 
  /* position:fixed; */
  bottom:0;
  width:100%; 
  height:50px;
  background-color:#fff;
  font-size:0.9em;
}
.footer p {
  text-align:center;
  font-size:1em;
  padding-top:15px;
  color:#8a9399;
}
.error{
  color:#f00;
  padding-left:10px;
}
.success{
  color:#0f0;
  font-size:1.1em;
}
.page-header{
  font-size:1.5em;
  margin-top:20px;
}
#check-in{
  margin-left:20px;
}
.login-panel {
  border-radius:0px;
  margin-left:20px;
  margin-right:20px;
}
