body{
  background-color:#fff;
}
.navbar-top-links li a{
  padding:10px;
}
.avatar{
  border-radius:10%;
}
#change_avatar{
  margin-bottom:10px;
}
.collapse.in{
  background-color:#f8f8f8;
}
@media (min-width: 768px){
  .intro-heading{
    font-size:70px;
  }
}
@media (max-width: 768px){
  .intro-heading{
    font-size:30px;
  }
}
.intro-heading{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 50px;
  padding-top:10%;
}
#index{
  background-color:#fff;
}
#index .panel-heading{
  text-align: center;
  font-size: 1.3em;
}
#index p {
  text-align:center;
}
#index .info{
  padding-top:10%;
}
#index .info a {
  padding:10px 10px;
  color:#000;
}
#index .fast-btn{
  margin-top:10%;
}
#index .index-title{
  color:#fff;
  margin-top:50px;
  font-size:2.5em;
}
#index .index-desc{
  margin-top:20px;
  font-size:1.1em;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
  color:#777;
}
#side-menu>li>a>i {
  margin-right:7px;
}
.auth-panel-header{
  text-align:center;
  padding-bottom:20px;
  margin: 20px 0px 20px;
  border-bottom:1px solid #eee;
}
.center {
  text-align: center;
}
.navbar-default{
  border-color:#f8f8f8;
}
a#register{
  display:block;
  margin-bottom:10px;
}
a#passwd-reset{
  display:block;
  margin-bottom:10px;
}
a#login{
  display:block;
  margin-bottom:10px
}
.cc .form-control{
  height:50px; 
}
.cc{
  position: absolute; top: 0px; left: 0px; width: 100%; min-height: 100%; background: linear-gradient(0deg, #0b4182 1%, #1e88e5 100%);
}
.panel-body{
  padding:25px;
}
.chat-body p {
  color:#555;
}
.footer{ 
  bottom:0;
  width:100%; 
  height: 50px;
  background-color:#fff;
  font-size:0.9em;
  padding-bottom:10px;
}
.footer p {
  text-align:center;
  font-size:1em;
  padding-top:15px;
  color:#8a9399;
}
.error{
  color:#f00;
  padding-left:10px;
}
.success{
  color:#5cb85c;
  font-size:1.1em;
}
.page-header{
  font-size:1.5em;
  margin-top:20px;
}
#check-in{
  margin-left:20px;
}
.login-panel {
  border-radius:0px;
  margin-left:20px;
  margin-right:20px;
}
.node-info{
  padding-top:20px;
  height:100px;
  display:block;
  background-color:#eee;
  text-align:center;
}
.node-info p{
  padding-top:10px;
  font-size:1.1em;
  color:#777;
}
.submit-after{
  content: "ss";
}
.search{
 padding:5px; 
 width:100px;
 margin-right:10px;
}
