<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="padding:50px 50px">
    <p>亲爱的 <strong><%= @resource.user_name %></strong></p>
    <p>您收到此邮件是因为您在<%= Settings.app_name %>申请了密码重置,如果不是您申请的,请忽略此邮件.</p>
    <p> 若要开始重置密码,请点击以下链接 :)</p>
    <p>请尽快点击 <%= link_to '重置密码', edit_password_url(@resource, reset_password_token: @token) %></p>
    <p>-- <%= Settings.app_name %></p>
  </body>
</html>
