<% if flash[:announcement] %>
  <div id="notice" class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p style="text-align:center"><%= flash[:announcement] %></p>
  </div>
<% end %>

<% if flash.notice %>
  <div id="notice" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <!-- <p style="text&#45;align:center"><%= flash[:notice] %></p> -->
    <p style="text-align:center"><%= flash.notice %></p>
  </div>
<% end %>

<% if flash[:error] %>
  <div id="error" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p style="text-align:center"><%= flash[:error] %></p>
  </div>
<% end %>
