<div class='footer'>
  <p>© <%= Settings.app_name %> Powered by <a href="https://github.com/timlentse/ss-panel-rails">ss-panel-rails</a> Theme by <a href="http://startbootstrap.com/template-overviews/sb-admin-2/">SB Admin 2 Theme</a>. All Rights Reserved.</p>
</div>
